# Rust
**/target/
**/debug/
**/*.rs.bk
*.pdb
**/mutants.out*/
Cargo.lock

# Vue / Node
**/node_modules/
**/dist/
*.local
*.tsbuildinfo
.nitro/
.output/
.nuxt/
*.vue.js
*.vue.d.ts

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
